.main {
    padding-top: 75px;
    padding-left: 50px;
    padding-right: 50px;
}

.light {
    background-image: url('../images/bg_index_light.gif');
}

.dark {
    background-image: url('../images/bg_index_dark.gif');
}